body {
    background: #f2f2f2;
    font-family: 'Poppins', arial-black!important;
    background-image: url('https://cdn.discordapp.com/attachments/572148854330360008/749013668112629822/image0.jpg');
    background-repeat: repeat;
    background-size: 150px;
}
  .bg-primary {
    background-color: #2b828e!important;
}

h2 {
    color: red;
}