<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/dashboard.css">
        <meta property="og:title" content="Project Bot List" />
        <meta property="og:description" content="TEST"/>
        <meta property="og:image" content="https://i.pinimg.com/originals/1a/9a/f1/1a9af177bdcd0bd93568e59bb7600cbe.png"/>
        <meta property="og:thumbnail" content="https://i.pinimg.com/originals/1a/9a/f1/1a9af177bdcd0bd93568e59bb7600cbe.png"/>
    </head>
</html>