<!DOCTYPE html>
<html>
    <head> 
        <title>Project Bot List 🤖</title>
        <meta name="description" content="Project Bot List is a Discord Bot List for developers to share their Discord Bots wit the community">
        <meta name="keywords" content="discord bot list bot-list discord-bot discord-bot-list bots discord-bots">
        <!-- og:tags -->
        <meta name="og:description" content="Project Bot List is a Discord Bot List for developers to share their Discord Bots wit the community">
        <meta name="og:title" content="Project Bot List 🤖">
        <!-- Pages -->
        <%- include('./templates/blocks/headers') %>
    </head>
    <body>
        
    </body>
</html>