<!DOCTYPE html>
<html>
    <head> 
        <title>Project Bot List 🤖</title>
        <meta name="description" content="Project Bot List is a Discord Bot List for developers to share their Discord Bots wit the community">
        <%- include('./templates/blocks/headers') %>
    </head>
    <body>
        
    </body>
</html>