<!DOCTYPE html>
<html>
    <head>
        <%- include('../blocks/head', { title }) %> 
    </head>
    <body>
        <div class="errorMessage">
            <img src="https://i.imgur.com/zQZbHee.png">
            <h1>500</h1>
            <h2>Error.</h2>
        </div>
    </body>
</html>