<!DOCTYPE html>
<html>
    <head>
        <script src="https://hcaptcha.com/1/api.js" async defer></script>
        <title><% title %> </title>
        <% include('../blocks/head'); %>
    </head>
    <body>
        <h1>Vote for <%= botUser.username %></h1>
        <form action="./vote" method="post">
            <div class="h-captcha" data-sitekey="<%= process.env.HCAPTCHA_SITE_KEY %>"></div>
            <input type="submit" />
        </form> 
    </body>
</html>