@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/* ERROR FORMATTING */

body {
    background-image: url('https://imgur.com/kHkD04Q.png');
    background-repeat: repeat;
}

.errorMessage h1 {
    font-family: 'Tangerine', serif;
    font-size: 150px;
    color: #808080;
    margin-top: 10%;
    margin-left: 5cm;
    text-align: left;
    text-shadow: 2px 2px #000000;
}

.errorMessage h2 {
    font-family: 'Tangerine', serif;
    font-size: 100px;
    color: #808080;
    margin-left: 5cm;
    text-align: left;
    text-shadow: 2px 2px #000000;
}

.errorMessage img {
    margin-top: 3cm;
    margin-right: 5cm;
    float: right;
}

/* NEW BOT FORM */
.form h2 {
    font-size: 70px;
    text-align: center;
}

.form span {
    font-size: 20px;
}
.form label {
    margin-left: 20px;
}

.form select {
    width: 120px;
    height: 20px;
    margin-left: 20px;
    background-color: lightblue;
    size: 100px;
}

.form input {
    margin-left: 20px;
    border-radius: 5px;
    background-color: lightblue;
    size: 100px;
}

.form textarea {
    resize: none;
    width: 99%;
    height: 500px;
    background-color: lightblue;
}

::-moz-selection { /* Code for Firefox */
    background: rgb(85, 218, 140);
}
  
::selection {
    background: rgb(85, 218, 140);
}