@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/* MESSAGE FORMATTING */

body {
    background-image: url('https://imgur.com/kHkD04Q.png');
    background-repeat: repeat;
    /* background-size: 150px; */
}

.errorMessage h1 {
    font-family: 'Tangerine', serif;
    font-size: 150px;
    color: #808080;
    margin-top: 10%;
    margin-left: 5cm;
    text-align: left;
}

.errorMessage h2 {
    font-family: 'Tangerine', serif;
    font-size: 100px;
    color: #808080;
    margin-left: 5cm;
    text-align: left;
}

.errorMessage img {
    margin-top: 3cm;
    margin-right: 5cm;
    float: right;
}

